main {
    background-color: var(--very-light-gray-color);
    padding: var(--normal-padding) var(--large-padding);
    min-height: 90vh;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: var(--big-gap);
    margin-bottom: 1rem;
}